#home_tab:link{
  color:rgb(255, 6, 0) !important
}

html #toplogo {
  background-color: rgb(255, 6, 0);
  width: 10%;
  padding-left:  45%;
  padding-right: 45%;
  padding-top: 1%;
  padding-bottom: 1%;
  position: relative;

}



html body {
  font-family: "Titillium Web";
  padding-top: 10%;
}

html top{
  position: fixed;
  top:0;
  width: 100%;
}

html nav {
  font-family: "Titillium Web";

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 6, 0);

}

html li {
  float: left;
}

html .non-active{
  color: white;
}

li a {
  display: block;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

li a:hover {
  background-color: white;
  color: rgb(255, 6, 0);
  
}

#toplogo {
  width: 16%
  
}

#headline_image{
    width: 500px;
    padding: 25px;
}

#headline_text{
  padding-bottom: 25px;
}

h2{
  margin-left: 8pt;
}

#secondary_article{
  
  text-align: justify;
  
}

#secondary_image{
    width: 500px;
    padding: 25px;
}

html .center
{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

html .right
  {
      float: right;
      width: 33.3%;
      padding-right: 5%;
      
      
  }

  html .left
  {
      float: left;
      width: 33.3%;
      padding-left: 5%;
      
      
  }

html #driver-button{
  padding-left: 40%;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: "Titillium Web";
  font-size: 20px;
  margin-left: 8pt;
  margin-right: 8pt;
  
}

html #tertiary_image{
  width: 500px;
  padding-left: 50px;
}

#secondary_text{
  padding-bottom: 25px;
  
}

#tertiary_text{
  padding-bottom: 25px;
}

/* <!-- footer --> */

html .fcolumn {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 8px;
}


@media screen and (max-width: 1250px) {
  html .fcolumn {
    width: 100%;
    display: block;
  }

  html .fcard{
    width: 500px;
  }

  html .cx-driver-button{
    padding-top: 35pt;
  }
}

@media screen and (max-width: 800px) {

  html .fcolumn {
    width: 100%;
    display: block;
  }

  html .fcard{
    width: 500px;
  }
  
  html .sorting{
    padding-top: 15%;
    text-align: center;
    
  }
  html .cx-driver-button{
    padding-top: 70pt;
  }
}

@media screen and (max-width: 600px) {

  html .fcolumn {
    width: 100%;
    display: block;
  }

  html .fcard{
    width: 500px;
  }
  
  html .sorting{
    padding-top: 20%;
    text-align: center;
  }
}


html .fcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 6, 0);
  border: 2pt solid rgb(255, 6, 0) ;
}

html .fcontainer {
  padding: 0 16px;
}


html .fcontainer::after, .frow::after {
  content: "";
  clear: both;
  display: table;
}


html .button {
  font-family: "Titillium Web";
  font-size: 20pt;
  border: none;
  outline: 0;
  display: inline-block;
  margin-top: 8px;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

html .button:hover {
  background-color: white;
  color: rgb(255, 6, 0);
 
} 

html .frow{
  margin-top:0px;
  padding-top: 20px;
  background-color: rgb(21,21,30);
  padding-left: 20px;
  
} 

html footer{
  background-color: rgb(21,21,30);
  color: white;
  padding-bottom: 20px;
  padding-left: 20px;
 
}

html body{
  margin-bottom: 0pt;
  margin-left: 0pt;
  margin-right: 0pt;
}


h

html #tertiary_image{
  margin-bottom: 5pt;
}


html .mcolumn {
  float: left;
  width: 33.33%;
  padding: 10px;
}


html .mrow:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  html .mcolumn {
    width: 100%;
  }
}

html a:link {
  color: white 
}

html a:visited{
	color: white 
}

html a:hover{
	color:rgb(255, 6, 0)
}

h1{
  color: #000;
  text-align: left;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

hr.topthird {
  border-top: 0.5px solid rgb(208,208,210);
  margin-bottom: 20pt;
}

#FP{
  text-align: right;
  text-decoration: underline rgb(255, 6, 0);
  margin-bottom: 15pt;
}

#reg{
  text-decoration: underline rgb(255, 6, 0);
  margin-bottom: 15pt;
}

.signin{
  font-family: "Titillium Web";
  background-color: rgb(255, 6, 0);
  box-shadow: none;
  padding: 5pt;
  padding-left: 25pt;
  padding-right: 25pt;
  color: white;
  border: none;
  border-radius: 5pt;
  text-size-adjust: larger;
  margin-bottom: 15pt;
}