<!DOCTYPE html>
<html>
<title>Formula 1: The world Championship</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- <link rel="stylesheet" href='CSS/index.css'> -->

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css') }}">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
        </style>
</head>

<header> 


</header>

<top>
<img id="toplogo" src="https://www.formula1.com/etc/designs/fom-website/images/f1_logo.svg" alt="F1 Logo" class = "bg-green-500">

<nav>
    <li id=home_tab><a>Home</a></li>
    <li><a class = "non-active" href="make_event">Create an event</a></li>
    <li><a class = "non-active" href="book_tickets">Purchase tickets</a></li>
    
    <li><a class = "non-active" href="view_previous_purchases">View previously purchased tickets</a></li>
    <li class = "usertab"><a href={{payload}}>{{first}} {{second}}</a></li>
        
</nav>
</top>




<p id ="response" >{{response}}</p>

{% for event in passevent %}
<div id="testing_lable" >


  <div class = "container  p-3 my-3 border">

    <a href = "view_event/{{event.EID}}"> <img id="headline_image" src="{{event.img}}" 
      alt="Max Verstappen" class={{event.side}}></a>

  
    <h2> <b>{{event.title}} - {{event.location}}</b> </h2>

    <p id="headline_text">{{event.desc}}
    </p>
  </div>
</div>
{% endfor %}


 
<!-- footer -->

<div class="frow">
    <div class="fcolumn">
      <div class="fcard">
        <img src="https://www.formula1.com/content/dam/fom-website/manual/Misc/2021manual/2021ItalianGPManuals/Sunday/ITAF1-Tech-Tuesday.jpg.transform/6col/image.jpg" 
        alt="Technology" style="width:100%">
        <div class="fcontainer">
          <p><button class="button">Technology</button></p>
        </div>
      </div>
    </div>
  
    <div class="fcolumn">
      <div class="fcard">
        <img src="https://www.formula1.com/content/dam/fom-website/2018-redesign-assets/Tag%20collections/Other/btg%20tag%20hub%20image.jpg.transform/fullbleed/image.jpg" 
        alt="Meet the drivers" style="width:100%">
        <div class="fcontainer">
          <p><button class="button">Meet the drivers</button></p>
        </div>
      </div>
    </div>
  
    <div class="fcolumn">
      <div class="fcard">
        <img src="https://www.formula1.com/content/dam/fom-website/manual/Misc/2021manual/2021ItalianGPManuals/Sunday/ita_2021_F1_Winners_Losers.jpg.transform/9col/image.jpg" 
        alt="Power Rankings" style="width:100%">
        <div class="fcontainer">
          <p><button class="button">Power Rankings</button></p>
        </div>
      </div>
    </div>
  </div>

<footer>
    Copyright @Kenzie Haigh 
</footer>

</html>