<!DOCTYPE html>
<html>
<title>Formula 1: The world Championship</title>
<head >
    <link rel="stylesheet" href='static\new_create_event.css'>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='new_create_event.css') }}"> 

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
       
        
        </style>
</head>

<header> 


</header>

<top>
<img id="toplogo" src="https://www.formula1.com/etc/designs/fom-website/images/f1_logo.svg" alt="F1 Logo" class="center">

<nav>
    <li id=home_tab><a href=\> Home </a></li>
    <li><a href ="login"> Login/Register </a></li>
    <li><a href= ""> Create or edit an event </a></li>
    <li><a href=\book_tickets> Purchase tickets </a></li>
    <li><a href=\view_previous_purchases>View previously purchased tickets</a></li>
        
</nav>
</top>


<body>
<!-- header -->

<div class="mrow"> 
  <div class="mcolumn"> 
  </div> 
  <div class="mcolumn"> 
    <h1><b>CREATE OR EDIT EVENT</b></h1>
    
  </div>
  <div class="mcolumn">
    <p id = "error_message">{{data}}</p>
  </div>
 </div>  
<div class="mrow" id = "main"> 
  <div class="mcolumn">    
      <!--  empty     -->
  </div>
  <div id = "mainform">
  <div class="mcolumn">  
    
      
      <hr class="topthird">
      
      <form name = "CEF" action="#" method = "POST">
          <label for="eventname">Event Name</label><br>
          <div class = entry> 
              <input type="text" id="eventname" name="eventname" placeholder="Event Name"> 
          </div><br>
          <label for="ntickets">Number of Tickets</label><br>
          <div class = entry> 
              <input type="text" id="ntickets" name="ntickets" placeholder="Number of Tickets"> 
          </div><br>

        <label for="status">Status</label><br>
        <div class = short-entry> 
        <select id="status" name="status">
          <option value="select">Select</option>
          <option value="Upcomming">Upcomming</option>
          <option value="Upcomming - TP">Upcomming - Tickets Purchaseable</option>
          <option value="Cancelled">Cancelled</option>
        </select>
        </div>
        <br>
        <label for="DOE">Date of event</label><br>
        <div class = "short-entry"> 
            <input type="text" id="DOE" name="DOE" placeholder="(DD/MM/YYYY)" size=10 maxlength=10  onkeyup="this.value=this.value.replace(/^(\d\d)(\d)$/g,'$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g,'$1/$2').replace(/[^\d\/]/g,'')">
        </div>
        <br>
        <label for="location">Event Location</label><br>
          <div class = entry> 
              <input type="text" id="location" name="location" placeholder="Location"> 
          </div><br>
      </div> 


      <div class="mcolumn"> 
        
        <hr class="topthird">
        
        

        <label for="URL">Event Image URL</label><br>
        <div class = entry> 
          <input type="text" id="URL" name="URL" placeholder="URL"> 
        </div>
        <br>
        <label for="cost">Cost per ticket ($)</label><br>
        <div class = entry> 
            <input type="text" id="cost" name="cost" placeholder="$" maxlength="3"> 
        </div>
        <br>
        <input id="submit-form" class = "hidden" for="CEF" type="submit" value="SUBMIT" >
      
        <label for="desc">Event Description</label><br>
        
        
            <textarea id="descript" name = "descript" class = "form-control"  rows = 8form ="CEF" ></textarea> 
        
      </form>
        
          <p>By clicking on submit, I agree that I have read and agree to the Terms and Conditions and Privacy Policy</p>
          <label class = "register" for="submit-form" tabindex="0">SUBMIT</label><BR>
       
      </div>       
    </div>
  </div>

</div>
 
<!-- footer all classes have f**** to indicate footer class-->

<div class="frow">
    <div class="fcolumn">
      <div class="fcard">
        <img src="https://www.formula1.com/content/dam/fom-website/manual/Misc/2021manual/2021ItalianGPManuals/Sunday/ITAF1-Tech-Tuesday.jpg.transform/6col/image.jpg" 
        alt="Technology" style="width:100%">
        <div class="fcontainer">
          <p><button class="button">Technology</button></p>
        </div>
      </div>
    </div>
  
    <div class="fcolumn">
      <div class="fcard">
        <img src="https://www.formula1.com/content/dam/fom-website/2018-redesign-assets/Tag%20collections/Other/btg%20tag%20hub%20image.jpg.transform/fullbleed/image.jpg" 
        alt="Meet the drivers" style="width:100%">
        <div class="fcontainer">
          <p><button class="button">Meet the drivers</button></p>
        </div>
      </div>
    </div>
  
    <div class="fcolumn">
      <div class="fcard">
        <img src="https://www.formula1.com/content/dam/fom-website/manual/Misc/2021manual/2021ItalianGPManuals/Sunday/ita_2021_F1_Winners_Losers.jpg.transform/9col/image.jpg" 
        alt="Power Ranking" style="width:100%">
        <div class="fcontainer">
          <p><button class="button">Power Rankings</button></p>
        </div>
      </div>
    </div>
  </div>

<footer>
    Copyright @Kenzie Haigh
</footer>
</body>
</html>