<!DOCTYPE html>
<html>
<title>Formula 1: The world Championship</title>
<head>
   

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='view_event.css') }}">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
        </style>
</head>

<header> 


</header>

<top>
<img id="toplogo" src="https://www.formula1.com/etc/designs/fom-website/images/f1_logo.svg" alt="F1 Logo" class="center">

<nav>
  <li id=home_tab><a href = "\">Home</a></li>
  <li><a class = "non-active" href="\make_event">Create an event</a></li>
  <li><a class = "non-active" href="\book_tickets">Purchase tickets</a></li>
  <li><a class = "non-active" href="\view_previous_purchases">View previously purchased tickets</a></li>

        
</nav>
</top>


<body>
<!-- header -->

<div class="row">
  <div class="column">
    <h2>{{event_name}} - {{event_location}}</h2>
    <h3> {{event_date}}</h3>
    <p id="datablock">{{event_data}}
    </p>

    <h2> Comments:</h2>
    
    <div class = "comment">
      <img class="comment_image" src="https://pbs.twimg.com/profile_images/1345158219522478082/o4v2ryd6_400x400.jpg" 
        alt="max-verstappen">
      <p id = "comment_user"> Daniel Riccardo:</p>
      <p class = "well"> YES!</p>
   </div>
  </div>
  



  <div class="column">
    <a href="\make_event/{{id}}">
    <button id="edit_event" style = "float: right; color: red;">
       {{edit}}
    </button>
  </a>
    <img class="side_image" src= {{event_image}} 
        alt="Maxibon"><br>
 
      <h2 id = "TR_txt"> Tickets Remaining: {{event_tickets}} &nbsp; &nbsp; &nbsp; Status: {{status}}</h2> 

      <a href = "book_tickets.html"> <input id = "TP_button" type="submit" value="Purchase now"></a><br>

      <h2> Post Comment:</h2>
      <textarea rows="4" cols="60"></textarea><br>
      <button id="submit_comment"> Submit comment</button>
    
      
  </div>
  
  
</div>
 
<!-- footer all classes have f**** to indicate footer class-->

<div class="frow">
    <div class="fcolumn">
      <div class="fcard">
        <img src="https://www.formula1.com/content/dam/fom-website/manual/Misc/2021manual/2021ItalianGPManuals/Sunday/ITAF1-Tech-Tuesday.jpg.transform/6col/image.jpg" 
        alt="Jane" style="width:100%">
        <div class="fcontainer">
          <p><button class="button">Technology</button></p>
        </div>
      </div>
    </div>
  
    <div class="fcolumn">
      <div class="fcard">
        <img src="https://www.formula1.com/content/dam/fom-website/2018-redesign-assets/Tag%20collections/Other/btg%20tag%20hub%20image.jpg.transform/fullbleed/image.jpg" 
        alt="Mike" style="width:100%">
        <div class="fcontainer">
          <p><button class="button">Meet the drivers</button></p>
        </div>
      </div>
    </div>
  
    <div class="fcolumn">
      <div class="fcard">
        <img src="https://www.formula1.com/content/dam/fom-website/manual/Misc/2021manual/2021ItalianGPManuals/Sunday/ita_2021_F1_Winners_Losers.jpg.transform/9col/image.jpg" 
        alt="John" style="width:100%">
        <div class="fcontainer">
          <p><button class="button">Power Rankings</button></p>
        </div>
      </div>
    </div>
  </div>

<footer>
    Copyright @Kenzie Haigh
</footer>
</body>
</html>