#toplogo {
    background-color: rgb(255, 6, 0);
    width: 100%;
    padding-left:  42%;
    padding-right: 42%;
    padding-top: 1%;
    padding-bottom: 1%;
    position: relative;

  }


  body {
    font-family: "Titillium Web";
    padding-top: 10%;
  }

  top{
    position: fixed;
    top:0;
    width: 100%;
  }

  nav {
    font-family: "Titillium Web";

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 6, 0);

  }
  
  li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
  
li a:hover {
    background-color: white;
    color: rgb(255, 6, 0);
    
  }

#toplogo {
    width: 16%
    
  }

  .center
  {
      display:block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }

  .right
    {
        float: right;
        width: 33.3%;
        padding-right: 5%;
        
        
    }

    .left
    {
        float: left;
        width: 33.3%;
        padding-left: 5%;
        
        
    }
  


 



  /* <!-- footer --> */

  .fcolumn {
    float: left;
    width: 32%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  
  @media screen and (max-width: 1250px) {
    .fcolumn {
      width: 100%;
      display: block;
    }
    .fcard{
      width: 500px;
    }
  }
  
  .usertab{
    color: white;
    position: absolute;right:0;
  }

  .fcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 6, 0);
    border: 2pt solid rgb(255, 6, 0) ;
  }
  
  .fcontainer {
    padding: 0 16px;
  }
  

  .fcontainer::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  .button {
    font-family: "Titillium Web";
    font-size: 20pt;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: white;
    color: rgb(255, 6, 0);
   
  }

  .frow{
    padding-top: 20px;
    background-color: rgb(21,21,30);
    padding-left: 20px;
    
  } 

  footer{
    background-color: rgb(21,21,30);
    color: white;
    padding-bottom: 20px;
    padding-left: 20px;
    
  }

  body{
    margin-bottom: 0pt;
    margin-left: 0pt;
    margin-right: 0pt;
  }


 

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 48%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

.side_image{
  width: 450pt;

  align-items: center;
  
}

#TR_txt{
  padding-left: 2%;
  margin-right: 38%;
}

#TP_button{
  width: 450pt;
  height: 50pt;
  font-size: x-large;
  font-family: "Titillium Web";
  background-color: rgb(255, 6, 0);
  color: white !important;
  border: NONE;
  border-radius: 5pt;
}

html #comment_user{
  padding-top: 6pt;
  font-size: larger;
  margin-bottom: 10pt;
  }
  
  html .comment{
    margin-bottom: 0pt;
    /* border: 2px solid black;  */
    border-radius: 5pt;
    background-color: rgb(255, 6, 0);
    color: white;
    padding-left: 10pt;
    margin-right: 0;
  }
  
  .delcomment{
    color: white;
    float: right;
    padding-right: 10pt;
    padding-top: 6pt;
    text-decoration: none;
    
  }

  .well{
    padding-bottom: 10pt;
  }

 textarea{
  font-family: "Titillium Web";
 }
 button{
  font-family: "Titillium Web";
 }

 @media screen and (max-width:800px) {
  .fcolumn {
    width: 100%;
  }

  html h2{
    padding-top:15% ;
    
  }

  .usertab{
    color: white;
    position: absolute;right:0;
  }

 

  
 
  hr.topthird {
    border-top: 0.5px solid rgb(208,208,210);
    margin-bottom: 20pt;
  }

  
 }

.hide{
    background-color: red;
    display:none;
 
  }

#descript{
  border: 1px solid black;
  border-radius: 4px;
  font-family: "Titillium Web";
  resize: none;
  margin-bottom: 10pt;
}

#edit_event{
  background-color: rgb(255, 6, 0);
  color: white;
  float: right;
  border: none;
  padding-left: 10pt;
  padding-right: 10pt;
  padding-top: 6pt;
  padding-bottom: 6pt;
  border-radius: 5pt;
}

.date{
  float: right;
  padding-right: 10pt;
}